<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="PurchaseMapper">
<resultMap type="purchase" id="purchaseSelectMap">
<result property="tranNo" column="TRAN_NO" jdbcType="INTEGER"/>
<result property="purchaseProd.prodNo" column="PROD_NO" jdbcType="INTEGER"/>
<result property="buyer.userId" column="BUYER_ID" jdbcType="VARCHAR"/>
<result property="paymentOption" column="PAYMENT_OPTION" jdbcType="CHAR"/>
<result property="receiverName" column="RECEIVER_NAME" jdbcType="VARCHAR"/>
<result property="receiverPhone" column="RECEIVER_PHONE" jdbcType="VARCHAR"/>
<result property="divyAddr" column="DEMAILADDR" jdbcType="VARCHAR"/>
<result property="divyRequest" column="DLVY_REQUEST" jdbcType="VARCHAR"/>
<result property="tranCode" column="TRAN_STATUS_CODE" jdbcType="CHAR"/>
<result property="orderDate" column="ORDER_DATA" jdbcType="DATE"/>
<result property="divyDate" column="DLVY_DATE" jdbcType="DATE"/>
</resultMap>

<select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
<!-- SELECT prod_no, buyer_id, payment_option, receiver_name, receiver_phone, demailaddr, dlvy_request, dlvy_date, order_date, tran_status_code, tran_no FROM transaction WHERE tran_no = #{tranNo} -->
	SELECT * from transaction where tran_no=#{tranNo}
</select>

<insert id="addPurchase" parameterType="purchase">
	insert into transaction (tran_no, prod_no, buyer_id, payment_option, DEMAILADDR, DLVY_DATE, DLVY_REQUEST, RECEIVER_NAME,RECEIVER_PHONE,order_data,tran_status_code) 
	values(
	seq_transaction_tran_no.nextval,
	#{purchaseProd.prodNo:INTEGER},
	#{buyer.userId},
	#{paymentOption},
	#{divyAddr},
	#{divyDate},
	#{divyRequest},
	#{receiverName},
	#{receiverPhone},
	SYSDATE,
	'1  ')
</insert>


	<update id="updatePurchase" parameterType="purchase">
		UPDATE transaction
				
		<set>
			PAYMENT_OPTION=#{paymentOption},
			image_file = #{fileName},
			RECEIVER_NAME=#{receiverName},
			RECEIVER_PHONE=#{receiverPhone},
			DEMAILADDR=#{divyAddr},
			DLVY_REQUEST=#{divyRequest},
			DLVY_DATE=${divyDate}
		</set>
			WHERE tran_no= #{tranNo:INTEGER}
	</update>

	<delete id="removePurchase" parameterType="int">
		DELETE
		FROM purchase
		WHERE prod_no =#{value}
	</delete>

	<sql id="select-purchase">
		SELECT
		*
		FROM purchase
	</sql>

	<sql id="orderby-prod_no-desc">
		ORDER BY prod_no DESC
	</sql>
	
	<select  id="getPurchaseList"  parameterType="search"	resultMap="purchaseSelectMap">
	  		 
	 SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT p.prod_no, p.prod_name, t.demailaddr, t.receiver_phone, t.tran_status_code, t.tran_no, t.dlvy_date,t.dlvy_request,t.order_data,t.payment_option
										FROM product p, transaction t 
										WHERE p.prod_no = t.prod_no
										AND t.buyer_id= #{buyer.userId}
											
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				prod_no = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				prod_name = #{searchKeyword}
													</if>
												</where>
											</if>
											ORDER BY prod_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	
<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT tran_no , prod_no 
						FROM transaction
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			tran_no = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		prod_no = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
	 </select>











<!-- 	<select  id="getTotalCount"  parameterType="search" resultMap="purchaseSelectMap" >
	  SELECT 
	  * 
	  FROM 
	  (SELECT inner_table. * ,  ROWNUM AS row_seq  	
	  FROM 
	  (	select p.prod_no, p.prod_name, t.demailaddr, t.receiver_phone, t.tran_status_code, 
	  t.tran_no, t.dlvy_date,t.dlvy_request,t.order_data,t.payment_option from product p, transaction t 
	  WHERE p.prod_no = t.prod_no 
	  AND t.buyer_id= #{buyer.userId} ) inner_table 	
	  <where>
	   ROWNUM  &lt;= #{search.currentPage} )
	   AND row_seq BETWEEN #{search.CurrentPage - 1) * #{search.PageSize + 1)
	   AND #{search.CurrentPage} * #{search.PageSize}
	  </where> 
	   
	   
	  </select> -->
	  
	  <!-- mybatis 비교문 작성법
	  1. <![CDATA[ query~~~ a <> or -> or != ]]> 
	  2. >  는 &gt; < 는 &lt;
	    -->
	 
	 
</mapper>	
			
		
